/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap');

body {
  margin: 0;
  padding: 0;
  background: #f4f4f4;
  font-family: "noto Sans Thai", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.section-appbar {
  max-width: 100%;
  box-shadow: 0px 3px 5px #0000002e;
  /* padding: 20px; */
  display: flex;
  flex-direction: column;
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 5;
}

.p-password {
  position: relative;
  display: inline;
}

.p-password-input {
  width: 100%;
  position: relative;
  display: inline-flex;
}

.menu {
  white-space: nowrap;
  overflow-x: scroll;
}

.menu :where(button, a) {
  background: unset;
  color: black;
  border: 0;
  font-weight: 400;
}

.bg-product {
  background: #f4f4f4;
  border-radius: 10px !important;
}

.btn-plus-product {
  width: 2rem;
  height: 2rem;
}

.navmenu {
  display: flex;
  gap: 10px;
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none;
  align-items: center;
}

.navmenu button {
  background: unset !important;
  border: 0;
}

.navmenu button span {
  border: 0;
  color: black;
  font-size: 15px;
  font-weight: 400;
}

.navmenu a {
  color: black;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}

.bg-post {
  border-radius: 40px;
  border: 1px solid rgb(199, 199, 199);
  height: 40px;
  padding: 5px;
}

.bg-section-product {
  background-color: rgb(14, 22, 140);
}

.footer-data-list {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.footer-data-list ul {
  display: block;
  list-style: none;
  padding: 0;
  text-align: center;
}

.footer-data-list ul li {
  display: inline-block;
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 12px;
}

.footer-data-list ul li a {
  text-decoration: none;
  color: black;
  font-weight: 400;
}

.footer-data-list p {
  font-size: 0.8rem;
  font-weight: 400;
  color: #6B6B6B;
}

.category-scrllo {
  overflow: scroll;
  scrollbar-width: none;
}

.bg-section-new-product {
  background-color: rgb(1, 97, 0);
}

.section-all-brand {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 1fr 1fr;
  gap: 8px;
  overflow-x: scroll;
  scrollbar-width: none;
}

.p-sidebar-right .p-sidebar {
  width: 22rem;
  height: 100%;
}

.cart {
  width: 100%;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.p-sidebar-left .p-sidebar {
  width: 22rem;
}

.box-menu a {
  text-decoration: none;
  color: black;
}

.border-solid {
  border: 0;
}

.section-point-product {
  display: grid;
  gap: 8px;
  width: 100%;
  grid-template-columns: repeat(5, 1fr);
}

@media (max-width: 1024px) {
  .section-point-product {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 768px) {
  .section-point-product {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 480px) {
  .section-point-product {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* 
.lable-login {
  top: 1.25rem;
} */

.product-list {
  display: grid;
  gap: 16px;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

@media (max-width: 640px) {
  .product-list {
    display: grid;
    gap: 16px;
    width: 100%;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.p-menu {
  padding: 0.5rem 0;
  border: none;
  border-radius: none;
  width: 100%;
}

.checkout-1 {
  display: grid;
  gap: 8px;
  width: 70%;
  /* grid-template-columns: repeat(2, 1fr); */
}

.checkout-2 {
  display: grid;
  gap: 8px;
  width: 30%;
  height: 40%;
  /* grid-template-columns: repeat(2, 1fr); */
}

.checkout-3 {
  display: grid;
  gap: 8px;
  width: 100%;
  grid-template-columns: auto auto auto auto;
}

.p-timeline-event-opposite {
  flex: 0;
  padding: 0 0rem;
}

.p-timeline-event-content p {
  margin: 0;
}

.section-point-product a {
  text-decoration: none;
  color: black;
}

.product-list a {
  text-decoration: none;
  color: black;
}

.category-title {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  white-space: break-spaces;
}

.carousel-product-items {
  height: 95%;
}

.filter-card {
  width: 16rem;
}

.filter-card-group {
  position: sticky;
  bottom: -20px;
  z-index: 1;
}